<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="../static/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../static/assets/img/favicon-32x32.png" sizes="32x32">
    <title>PdM</title>
    <link rel="stylesheet" href="../static/bower_components/weather-icons/css/weather-icons.min.css" media="all">
    <link rel="stylesheet" href="../static/bower_components/metrics-graphics/dist/metricsgraphics.css">
    <link rel="stylesheet" href="../static/bower_components/chartist/dist/chartist.min.css">
    <link rel="stylesheet" href="../static/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">
    <link rel="stylesheet" href="../static/assets/icons/flags/flags.min.css" media="all">
    <link rel="stylesheet" href="../static/assets/css/style_switcher.min.css" media="all">
    <link rel="stylesheet" href="../static/assets/css/main.min.css" media="all">
    <link rel="stylesheet" href="../static/assets/css/themes/themes_combined.min.css" media="all">

</head>
<body class="disable_transitions sidebar_main_open sidebar_main_swipe">
    <!-- main header -->
    <header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">
                                
                <!-- main sidebar switch -->
                <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                    <span class="sSwitchIcon"></span>
                </a>
                
                <!-- secondary sidebar switch -->
                <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                    <span class="sSwitchIcon"></span>
                </a>
  
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">fullscreen</i></a></li>
                            <div class="uk-dropdown uk-dropdown-xlarge">
                                <div class="md-card-content">
                                    <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#header_alerts',animation:'slide-horizontal'}">
                                        <li class="uk-width-1-2 uk-active"><a href="#" class="js-uk-prevent uk-text-small">Messages (12)</a></li>
                                        <li class="uk-width-1-2"><a href="#" class="js-uk-prevent uk-text-small">Alerts (4)</a></li>
                                    </ul>
                                    <ul id="header_alerts" class="uk-switcher uk-margin">
                                        <li>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <span class="md-user-letters md-bg-cyan">ng</span>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="page_mailbox.html">Doloribus quod.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Quas quisquam commodi provident dolorem et perferendis ut corrupti rerum.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <img class="md-user-image md-list-addon-avatar" src="../static/assets/img/avatars/avatar_07_tn.png" alt=""/>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="page_mailbox.html">Esse similique et.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Nam molestiae architecto maxime dicta qui esse consequatur dignissimos rem.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <span class="md-user-letters md-bg-light-green">qm</span>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="page_mailbox.html">Eaque autem.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Aspernatur in quod distinctio est id provident nihil quam fugit inventore.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <img class="md-user-image md-list-addon-avatar" src="../static/assets/img/avatars/avatar_02_tn.png" alt=""/>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="page_mailbox.html">Unde dolorem.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Sunt sed et libero natus asperiores et consequuntur.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <img class="md-user-image md-list-addon-avatar" src="../static/assets/img/avatars/avatar_09_tn.png" alt=""/>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="page_mailbox.html">Eius enim.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Alias quis ea eaque dolore recusandae tempore delectus rerum ab.</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="uk-text-center uk-margin-top uk-margin-small-bottom">
                                                <a href="page_mailbox.html" class="md-btn md-btn-flat md-btn-flat-primary js-uk-prevent">Show All</a>
                                            </div>
                                        </li>
                                        <li>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-warning">&#xE8B2;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Voluptatem omnis.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Consequatur eaque natus esse assumenda aut ab quidem.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-success">&#xE88F;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Itaque sit officiis.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Ad velit quia possimus officia adipisci dicta enim.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-danger">&#xE001;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Modi odit impedit.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Inventore unde praesentium numquam amet et sunt dolorum.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-primary">&#xE8FD;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Qui et.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Quia pariatur id facere accusantium rerum illum.</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_image"><img class="md-user-image" src="../static/assets/img/avatars/engineer.png" alt=""/></a>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav js-uk-prevent">
                                    <li><a href="myProfile.html">My profile</a></li>
                                    <li><a onclick="logout()">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header><!-- main header end -->
    <!-- main sidebar -->
    <aside id="sidebar_main">
        
       <div class="sidebar_main_header">
            <div class="sidebar_logo">
                <a href="index.html" class="sSidebar_hide sidebar_logo_large">
                    <img class="logo_regular" src="../static/assets/img/logo_main.png" alt="" height="15" width="71"/>
                    <img class="logo_light" src="../static/assets/img/logo_main_white.png" alt="" height="15" width="71"/>
                </a>
                <a href="index.html" class="sSidebar_show sidebar_logo_small">
                    <img class="logo_regular" src="../static/assets/img/logo_main_small.png" alt="" height="32" width="32"/>
                    <img class="logo_light" src="../static/assets/img/logo_main_small_light.png" alt="" height="32" width="32"/>
                </a>
            </div>
        </div>
        
        <div class="menu_section">
            <ul>
                <li title="Home">
                    <a href="{{ url_for('home') }}">
                        <span class="menu_icon"><i class="material-icons">home</i></span>
                        <span class="menu_title">Home</span>
                    </a>
                    
                </li>
                <li title="Assets">
                    <a href="{{ url_for('assets') }}">
                        <span class="menu_icon"><i class="material-icons">bar_chart</i></span>
                        <span class="menu_title">Assets</span>
                    </a>
                    
                </li>
                <li class="current_section" title="Timeline">
                    <a href="{{ url_for('timeline') }}">
                        <span class="menu_icon"><i class="material-icons">notifications</i></span>
                        <span class="menu_title">Timeline</span>
                    </a>
                    
                </li>
                <li title="MyTasks">
                    <a href="{{ url_for('mytasks') }}">
                        <span class="menu_icon"><i class="material-icons">person</i></span>
                        <span class="menu_title">My Tasks</span>
                    </a>
                </li>
                <li title="Help Center">
                    <a href="{{ url_for('helpcenter') }}">
                        <span class="menu_icon"><i class="material-icons">help</i></span>
                        <span class="menu_title">Help Center</span>
                    </a>
                    
                </li>
        

            </ul>
        </div>
    </aside><!-- main sidebar end -->

    <!--editing begins!!-->

    <div id="page_content">
            <div id="page_content_inner">
                    <h3 class="heading_b uk-margin-bottom">Timeline</h3>

                    <!--needs css-->
         <p>
             <input type="checkbox" name="checkbox_demo_mercury" id="checkbox_demo_1"  onchange='showUnhandledOnly(this)' data-md-icheck />
            <label for="checkbox_demo_1" class="inline-label">Show unresolved issues only</label>
        </p>
    </div>
    </div>
    
    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/common.min.js') }}"></script>
    <!-- uikit functions -->
    <script  type="text/javascript" src="{{ url_for('static', filename='assets/js/uikit_custom.min.js') }}"></script>

    <!-- altair common functions/helpers -->
    <script  type="text/javascript" src="{{ url_for('static', filename='assets/js/altair_admin_common.min.js') }}"></script>

    <script src="../static/assets/js/DateUtil.js"></script>

    <script src="../static/assets/js/notif.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>

    <div id="style_switcher">
        <div id="style_switcher_toggle"><i class="material-icons">&#xE8B8;</i></div>
        <div class="uk-margin-medium-bottom">
            <h4 class="heading_c uk-margin-bottom">Colors</h4>
            <ul class="switcher_app_themes" id="theme_switcher">
                <li class="app_style_default active_theme" data-app-theme="">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_a" data-app-theme="app_theme_a">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_b" data-app-theme="app_theme_b">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_c" data-app-theme="app_theme_c">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_d" data-app-theme="app_theme_d">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_e" data-app-theme="app_theme_e">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_f" data-app-theme="app_theme_f">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_g" data-app-theme="app_theme_g">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_h" data-app-theme="app_theme_h">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_i" data-app-theme="app_theme_i">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_dark" data-app-theme="app_theme_dark">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
            </ul>
        </div>
        <div class="uk-visible-large uk-margin-medium-bottom">
            <h4 class="heading_c">Sidebar</h4>
            <p>
                <input type="checkbox" name="style_sidebar_mini" id="style_sidebar_mini" data-md-icheck />
                <label for="style_sidebar_mini" class="inline-label">Mini Sidebar</label>
            </p>
            <p>
                <input type="checkbox" name="style_sidebar_slim" id="style_sidebar_slim" data-md-icheck />
                <label for="style_sidebar_slim" class="inline-label">Slim Sidebar</label>
            </p>
        </div>
        <div class="uk-visible-large uk-margin-medium-bottom">
            <h4 class="heading_c">Layout</h4>
            <p>
                <input type="checkbox" name="style_layout_boxed" id="style_layout_boxed" data-md-icheck />
                <label for="style_layout_boxed" class="inline-label">Boxed layout</label>
            </p>
        </div>
        <div class="uk-visible-large">
            <h4 class="heading_c">Main menu accordion</h4>
            <p>
                <input type="checkbox" name="accordion_mode_main_menu" id="accordion_mode_main_menu" data-md-icheck />
                <label for="accordion_mode_main_menu" class="inline-label">Accordion mode</label>
            </p>
        </div>
    </div>

    <script>
        $(function() {
            var $switcher = $('#style_switcher'),
                $switcher_toggle = $('#style_switcher_toggle'),
                $theme_switcher = $('#theme_switcher'),
                $mini_sidebar_toggle = $('#style_sidebar_mini'),
                $slim_sidebar_toggle = $('#style_sidebar_slim'),
                $boxed_layout_toggle = $('#style_layout_boxed'),
                $accordion_mode_toggle = $('#accordion_mode_main_menu'),
                $html = $('html'),
                $body = $('body');


            $switcher_toggle.click(function(e) {
                e.preventDefault();
                $switcher.toggleClass('switcher_active');
            });

            $theme_switcher.children('li').click(function(e) {
                e.preventDefault();
                var $this = $(this),
                    this_theme = $this.attr('data-app-theme');

                $theme_switcher.children('li').removeClass('active_theme');
                $(this).addClass('active_theme');
                $html
                    .removeClass('app_theme_a app_theme_b app_theme_c app_theme_d app_theme_e app_theme_f app_theme_g app_theme_h app_theme_i app_theme_dark')
                    .addClass(this_theme);

                if(this_theme == '') {
                    localStorage.removeItem('altair_theme');
                    $('#kendoCSS').attr('href','bower_components/kendo-ui/styles/kendo.material.min.css');
                } else {
                    localStorage.setItem("altair_theme", this_theme);
                    if(this_theme == 'app_theme_dark') {
                        $('#kendoCSS').attr('href','bower_components/kendo-ui/styles/kendo.materialblack.min.css')
                    } else {
                        $('#kendoCSS').attr('href','bower_components/kendo-ui/styles/kendo.material.min.css');
                    }
                }

            });

            // hide style switcher
            $document.on('click keyup', function(e) {
                if( $switcher.hasClass('switcher_active') ) {
                    if (
                        ( !$(e.target).closest($switcher).length )
                        || ( e.keyCode == 27 )
                    ) {
                        $switcher.removeClass('switcher_active');
                    }
                }
            });

            // get theme from local storage
            if(localStorage.getItem("altair_theme") !== null) {
                $theme_switcher.children('li[data-app-theme='+localStorage.getItem("altair_theme")+']').click();
            }


        // toggle mini sidebar

            // change input's state to checked if mini sidebar is active
            if((localStorage.getItem("altair_sidebar_mini") !== null && localStorage.getItem("altair_sidebar_mini") == '1') || $body.hasClass('sidebar_mini')) {
                $mini_sidebar_toggle.iCheck('check');
            }

            $mini_sidebar_toggle
                .on('ifChecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.setItem("altair_sidebar_mini", '1');
                    localStorage.removeItem('altair_sidebar_slim');
                    location.reload(true);
                })
                .on('ifUnchecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.removeItem('altair_sidebar_mini');
                    location.reload(true);
                });

        // toggle slim sidebar

            // change input's state to checked if mini sidebar is active
            if((localStorage.getItem("altair_sidebar_slim") !== null && localStorage.getItem("altair_sidebar_slim") == '1') || $body.hasClass('sidebar_slim')) {
                $slim_sidebar_toggle.iCheck('check');
            }

            $slim_sidebar_toggle
                .on('ifChecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.setItem("altair_sidebar_slim", '1');
                    localStorage.removeItem('altair_sidebar_mini');
                    location.reload(true);
                })
                .on('ifUnchecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.removeItem('altair_sidebar_slim');
                    location.reload(true);
                });

        // toggle boxed layout

            if((localStorage.getItem("altair_layout") !== null && localStorage.getItem("altair_layout") == 'boxed') || $body.hasClass('boxed_layout')) {
                $boxed_layout_toggle.iCheck('check');
                $body.addClass('boxed_layout');
                $(window).resize();
            }

            $boxed_layout_toggle
                .on('ifChecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.setItem("altair_layout", 'boxed');
                    location.reload(true);
                })
                .on('ifUnchecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.removeItem('altair_layout');
                    location.reload(true);
                });

        // main menu accordion mode
            if($sidebar_main.hasClass('accordion_mode')) {
                $accordion_mode_toggle.iCheck('check');
            }

            $accordion_mode_toggle
                .on('ifChecked', function(){
                    $sidebar_main.addClass('accordion_mode');
                })
                .on('ifUnchecked', function(){
                    $sidebar_main.removeClass('accordion_mode');
                });


        });
    </script>

    <script>

        var issues = [];
        var unhandleOnly = false;

        $(document).ready(function () {
            loadDB();
            loadCurrentUser();
            loadIssues();
        });

        function loadDB() {
            var firebaseConfig = {
                apiKey: "AIzaSyAal-QcuayT4d32G-6YJLw8m7Um5b1BPrg",
                authDomain: "raspberrypi-6b521.firebaseapp.com",
                databaseURL: "https://raspberrypi-6b521.firebaseio.com",
                projectId: "raspberrypi-6b521",
                storageBucket: "raspberrypi-6b521.appspot.com",
                messagingSenderId: "829617435562",
                appId: "1:829617435562:web:3f6548f88b700d529a71d3",
                measurementId: "G-XK5P7KWL53"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);

            firestore = firebase.firestore();
        }

        function loadCurrentUser() {
            firebase.auth().onAuthStateChanged(function(user) {
                var currentEmail = '';
            if (user){
                // User is signed in.
                var user = firebase.auth().currentUser;
                if(user != null){
                    currentEmail = user.email;
                }
                } else {
                window.location.href = "{{ url_for('login') }}";
                }
            firestore.collection('engineers')
                .where('email', '==', currentEmail)
                .get()
                .then(function (querySnapshot) {
                    querySnapshot.forEach(function (doc) {
                        currentUserDoc = doc;
                    });
                });
            });
        }

        function loadIssues() {
            firestore.collection("Models").doc("IPOWERFAN").collection("Assets").get().then(function (querySnapshot) {
                querySnapshot.forEach(function (doc) {

                    var asset = doc.data();
                    for (var issue of asset.issue) {
                        issues.push(issue);
                    }
                });
                sortIssues();
                showIssues();
                listenForChanges();
            });
        }

        //sorts the issues by time "as notifications"
        function sortIssues() {
            issues.sort((issue1, issue2) => {
                var ts1 = (issue1.timestamp) ? issue1.timestamp.toDate().getTime() : 0;
                var ts2 = (issue2.timestamp) ? issue2.timestamp.toDate().getTime() : 0;

                if (!ts1 || ts1 < ts2)
                    return 1;
                else if (!ts2 || ts1 > ts2)
                    return -1;
                else return 0;
            });
        }

        //show unhandled only checkbox
        function showIssues() {
            issues.forEach(function (issue, issueIndex) {
                if (issue.status.toUpperCase() == "UNHANDLED") {
                    showUnhandledIssue(issue, issueIndex);
                } else if (!unhandleOnly) {
                    showHandledIssue(issue, issueIndex)
                }
            })
        }

        function showUnhandledIssue(issue, issueIndex) {

            var assetID = issue.assetID;
            var timeDiff = ((issue.timestamp) ? getTimeDiff(issue['timestamp'].seconds) : '');
            var severity = (issue.severity ? issue.severity.charAt(0).toUpperCase() + issue.severity.slice(1).toLowerCase() : '');
            var status = (issue.status ? issue.status.charAt(0).toUpperCase() + issue.status.slice(1).toLowerCase() : '');

            $('#page_content_inner').append('<div class="uk-grid">\n' +
                '                        <div class="uk-width-medium-2-2">\n' +
                '                            <div class="md-card">\n' +
                '                                <div class="md-card-content">\n' +
                '                                    <ul class="md-list md-list-addon uk-margin-remove">\n' +
                '                                        <li>\n' +
                '                                             <div class="timeline_icon timeline_icon_warning"><i class="material-icons">warning</i></div>\n' +
                '                                            \n' +
                '                                            <div class="md-list-content">\n' +
                '                                    <div class="uk-flex uk-flex-middle">\n' +
                '                                                    <div class="uk-width-9-10">\n' +
                '                                                      \n' +
                '                                                            <span class="uk-text-muted">' + timeDiff + '</span>\n' +
                '                                                            <p class="uk-margin-remove">Asset ID: ' + assetID + '</p>\n' +
                '                                                            <p class="uk-margin-remove">Alert Severity: ' + severity + '</p>\n' +
                '                                                            <p class="uk-margin-remove">Status: ' + status + '</p>\n' +
                '                                                            <p class="uk-margin-remove"><strong>Asset has incosistent blade rotation</strong></p>\n' +
                '                                                    </div>\n' +
                '                                      \n' +
                '                                    <div class="uk-width-large-1-10">\n' +
                '                                            <a class="md-btn md-btn-success md-btn-wave-light" onClick="handle(' + issueIndex + ')">HANDLE</a>\n' +
                '                                    </div>\n' +
                '                                                </div>\n' +
                '                                            </div>\n' +
                '                                   </li>\n' +
                '                                    </ul>\n' +
                '                                      \n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                      </div>');

        }

        function showHandledIssue(issue, issueIndex) {

            var assetID = issue.assetID;
            var timeDiff = ((issue.timestamp) ? getTimeDiff(issue['timestamp'].seconds) : '');

            $('#page_content_inner').append('<div class="uk-grid">\n' +
                '                        <div class="uk-width-medium-2-2">\n' +
                '                            <div class="md-card">\n' +
                '                                <div class="md-card-content">\n' +
                '                                    <ul class="md-list md-list-addon uk-margin-remove">\n' +
                '                                        <li>\n' +
                '                                            <div class="timeline_icon timeline_icon_success"><i class="material-icons">bar_chart</i></div>\n' +
                '                                            <div class="uk-width-8-10">\n' +
                '\n' +
                '                                                <span class="uk-text-muted">' + timeDiff + '</span>\n' +
                '                                                <p class="uk-margin-remove">Asset ID: ' + assetID + '</p>\n' +
                '                                                <p class="uk-margin-remove"><strong>Asset behavior is back to normal</strong></p>\n' +
                '                                            </div>\n' +
                '                                        </li>\n' +
                '                                    </ul>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                    </div>');
        }

        //listen for changes
        function listenForChanges() {
            firestore.collection("Models").doc("IPOWERFAN").collection("Assets")
                .onSnapshot(function (querySnapshot) {

                    querySnapshot.forEach(function (doc) {

                        var asset = doc.data();
                        var assetID = doc.id;
                        var newIssueDetails = "";

                        // remove old issues of the asset.
                        var length = issues.length;
                        var removedIDs = [];
                        for (var i = length - 1; i >= 0; i--) {
                            var issue = issues[i];
                            if (issue.assetID == assetID) {
                                issues.splice(i, 1);
                                removedIDs.push(issue.issueID);
                            }
                        }

                        // Add new issues
                        for (var each of asset.issue) {
                            issues.push(each);
                            if (removedIDs.indexOf(each.issueID) < 0) {
                                newIssueDetails = "A new issue of Asset : " + assetID + " is arising";
                            }
                        }

                        sortIssues();
                        removeAllIssues();
                        showIssues();

                        //notify user about new issues //need check
                        if (newIssueDetails) {
                            notifyUser(newIssueDetails);
                        }

                    });

                });
        }

        function removeAllIssues() {
            $('#page_content_inner').children('.uk-grid').remove();
        }

        //handle function
        function handle(issueIndex) {

            if (!currentUserDoc) return;
            var currentUser = currentUserDoc.data();
            if (!currentUser) return;

            var issue = issues[issueIndex];
            if (!issue) return;

            if (!confirm("Do you want to handle this issue?")) return;

            issue.status = "HANDLED";
            issue.engID = currentUserDoc.id;

            //update Engineer
            currentUser.issues.push(issue);
            firestore.collection("engineers").doc(currentUserDoc.id).set(currentUser);

            //update asset
            firestore.collection("Models").doc("IPOWERFAN").collection("Assets")
                .doc(issue.assetID)
                .get()
                .then(function (doc) {
                    var asset = doc.data();
                    var replaced = false;
                    var index = 0;
                    for (var each of asset.issue) {
                        if (each.issueID == issue.issueID) {
                            asset.issue.splice(index, 1);
                            asset.issue.splice(index, 0, issue);
                            replaced = true;
                            break;
                        }
                        index++;
                    }

                    if (replaced) {
                        firestore.collection("Models").doc("IPOWERFAN").collection("Assets").doc(doc.id).set(asset);
                        alert("The issues is assigned to you!");
                        window.location.href = '../templates/MyTasks.html';
                    }
                });
        }

        function showUnhandledOnly(checkbox) {
            unhandleOnly = checkbox.checked;
            removeAllIssues();
            showIssues();
        }
        
        function logout(){
            firebase.auth().signOut();
            window.location.href = "{{ url_for('login') }}";
        }
    </script>
</body>
</html>
